@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0px;
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

$fonts: 'Monteserrat', sans-serif;



/* Header */

header {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
    background-size: cover;
    background-position: top;

    nav img {
        padding: 35px 0;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: right;
        }

        li {
            display: inline-block;
            font-family: $fonts;
        }

        a {
            line-height: 30x;
            padding: 40px 12px;
            display: block;
            color: #FFF;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bolder;
            &:hover {
                color: #FED136;
            }
        }

        p {
            float: left;
            color: white;
            font-size: 40px;
        }
    }

    .main {
        h1 {
            text-align: center;
            margin-top: 100px;
            color: white;
            font-size: 40px;
            font-style: italic;
        }

        p {
            text-align: center;
            color: white;
            font-size: 70px;
            text-transform: uppercase;
            font-family: $fonts;
            font-weight: 700;
        }

        .button {
            border-radius: 5px;
            width: 200px;
            height: 50px;
            text-align: center;
            background-color: #FED136;
            border-color: #FED136;
            color: #FFF;
            text-size: 16px;
            margin: 60px auto 0 auto;
            cursor: pointer;
            padding-top: 15px;
            text-transform: uppercase;
            font-family: $fonts;
        }
    }
}

/* End Header */

/* Section Services */

.services {
    padding-bottom: 70px;

    .serv {
        h1 {
            text-align: center;
            font-family: $fonts;
            text-transform: uppercase;
            font-size: 40px;
            color: #212121;
            margin-top: 120px;
        }

        p {
            text-align: center;
            color: #727272;
            font-size: 20px;
            margin-top: -30px;
        }
    }

    .services_img {
        margin-top: 100px;
        text-align: center;
        font-family: $fonts;

        p {
            padding: 5px 20px;
            color: #727272;
        }
    }
}

.icon-serv {
    width: 70px;
    height: 70px;
    color: #FED136;
    border: 3px solid #FED136;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
}

.shopping-basket,
.laptop,
.lock {
    color: #FED136;
    background-color: #FFF;
    &:hover {
        color: #FFF;
        background-color: #FED136;
    }
}

/* End Section Service */

/* Section Portfolio */

.portfolio {
    padding-top: 40px;
    padding-bottom: 120px;
    background-color: #F7F7F7;

    .portfolio_header {
        h1 {
            margin-top: 50px;
            text-align: center;
            padding-top: 40px;
            text-transform: uppercase;
            font-family: $fonts;
            font-size: 40px;
        }

        p {
            text-align: center;
            color: #727272;
            font-size: 20px;
            margin-top: -30px;
            padding-bottom: 50px;
        }
    }
    .items {
        .items_img {
            .items_content {
                height: 400px;
                max-width: 289px;
                text-align: center;
                background-color: #FFF;
                margin: 38px;

                h1 {
                    font-family: $fonts;
                    font-size: 18px;
                    margin-top: 20px;
                }

                p {
                    font-family: $fonts;
                    font-size: 14px;
                    font-style: italic;
                    margin-top: -15px;
                    font-weight: 600;
                    color: #727272;
                }
            }
        }
    }
}

.pic {
    height: 100%;
    position: relative;
    &:hover {
        background: rgba(0, 0, 0, .5);

        .fa {
            opacity: 1;
        }

    }
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .8s;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, .5);
    }

    .fa {
        position: relative;
        top: 50%;
        opacity: 0;
        transition: .8s;
    }
}

/* End Section Portfolio */

/* Section About Us */

.about {
    margin-top: 50px;

    .about_header {
        h1 {
            text-align: center;
            padding-top: 40px;
            font-family: $fonts;
            text-transform: uppercase;
            font-size: 40px;
        }

        p {
            text-align: center;
            color: #727272;
            font-size: 20px;
            margin-top: -30px;
            padding-bottom: 80px;
        }

    }

    hr {
        width: 1px;
        height: 120px;
        border: 1px solid #F1F1F1;
        margin-top: -20px;
        margin-bottom: -20px;
    }

    img {
        opacity: 0.5;
        &:hover {
            opacity: 1;
            cursor: pointer;
            transition: .9s;
        }
    }
}

.right {
    font-family: $fonts;
    text-align: right;
    margin: 0 40px 15px 0;
}

.right_h2 {
    font-family: $fonts;
    text-align: right;
    margin-right: 40px;
    margin-top: -10px;
}

.left {
    font-family: $fonts;
    text-align: left;
    margin: 0 0 15px 40px;
}

.left_h2 {
    font-family: $fonts;
    text-align: left;
    margin-left: 40px;
    margin-top: -10px;
}

/* End Section About Us */

/* Section Team */

.team {
    background-color: #F9F9F9;
    text-align: center;

    .team_header {
        h1 {
            font-family: $fonts;
            font-size: 40px;
            padding-top: 100px;
            text-transform: uppercase
        }

        p {
            font-family: $fonts;
            color: #727272;
            font-size: 20px;
            margin-top: -30px;
            padding-bottom: 80px;
        }
    }

    .team_content {
        padding-bottom: 50px;

        h1 {
            font-family: $fonts;
            font-size: 20px;
        }

        p {
            font-family: $fonts;
            font-size: 15px;
            color: #727272;
        }

        img {
            width: 241px;
            max-width: 100%;
            height: 100%;
            opacity: 0.7;
            &:hover {
                opacity: 1;
                cursor: pointer;
                transition: .9s;
            }
        }
    }
}

.icon-btn {
    width: 35px;
    height: 35px;
    border: 0;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #111111;
    &:hover {
        transform: scale(1.10);
    }
}

.twitter {
    color: #111111;
    background-color: #FFF;
    &:hover {
        background-color: #4099FF;
        color: #FFFFFF;
        border: 1px solid #4099FF;
    }
}

.facebook {
    color: #111111;
    background-color: #FFF;
    &:hover {
        background-color: #3B5998;
        color: #FFFFFF;
        border: 1px solid #3B5998;
    }
}

.google-plus {
    color: #111111;
    background-color: #FFF;
    &:hover {
        background-color: #DB5A3C;
        color: #FFFFFF;
        border: 1px solid #DB5A3C;
    }
}

.pinterest {
    color: #111111;
    background-color: #FFF;
    &:hover {
        background-color: #DB5A3C;
        color: #FFFFFF;
        border: 1px solid #DB5A3C;
    }
}

.promotion_text {
    p {
        text-align: center;
        padding: 20px 0 40px 0;
        color: #767676;
    }
}

/* End Section Team */

/* Section Promotion */
.promotion {
    text-align: center;
    margin: 50px;

    img {
        max-width: 100%;
        height: auto;
    }
}

/* End Section Promotion */

/* Section Contact */

.contact {
    background-image: url(../images/map.png);
    height: 670px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;

    h1 {
        text-align: center;
        font-family: $fonts;
        font-size: 40px;
        padding-top: 100px;
        color: #FFF;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        font-family: $fonts;
        text-align: center;
        color: #727272;
        font-size: 20px;
        margin-top: -30px;
        padding-bottom: 80px;
    }

    input {
        width: 100%;
        max-width: 457px;
        height: 50px;
        margin: 15px 60px;
        border-radius: 5px;
        font-size: 20px;
        font-family: $fonts;
    }

    textarea {
        width: 100%;
        max-width: 456px;
        height: 210px;
        margin-top: 15px;
        border-radius: 5px;
        font-size: 20px;
        font-family: $fonts;
    }
}

.button1 {
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #FED136;
    border-color: #FED136;
    color: #FFF;
    text-size: 16px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: $fonts;
}

/* End Section Contact */

/* Section Footer */

.footer {
    padding: 20px;
    text-align: center;
    font-family: $fonts;
    color: #767676;
}

/* End Section Footer */

/* Media */

@media (max-width: 767px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /* Media */

    header {
        height: auto;
        width: 100%;
        padding-bottom: 30px;
        text-align: center;

        nav {
            ul {
                float: none;

                li {
                    display: block;

                    a {
                        padding: 15px 12px;
                    }
                }
            }
        }

        .main {
            h1 {
                margin-top: 20px;
                font-size: 20px;
            }

            p {
                font-size: 25px;
            }

            .button {
                margin: 30px auto 0 auto;
            }
        }
    }

    .services {
        .serv {
            h1 {
                font-size: 30px;
                margin-top: 50px;
            }

            p {
                font-size: 18px;
                margin-top: -20px;
            }
        }

        .services_img {
            margin-top: 50px;

            h1 {
                padding: 10px;
                font-size: 18px;
            }
        }
    }

    .portfolio {
        padding-top: 20px;
        padding-bottom: 40px;

        .portfolio_header {
            h1 {
                margin-top: 10px;
                font-size: 30px;
            }

            p {
                font-size: 18px;
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }
    }

    .about {
        margin-top: 10px;

        hr {
            display: none;
        }

        .about_header {
            h1 {
                padding-top: 20px;
                font-size: 30px;
            }

            p {
                font-size: 18px;
                margin-top: -30px;
                padding-bottom: 50px;
            }
        }
    }

    .team {
        .team_header {
            h1 {
                font-size: 30px;
                padding-top: 80px;
            }

            p {
                font-size: 18px;
                margin-top: -30px;
                padding-bottom: 30px;
            }
        }
    }

    .team_img {
        padding-bottom: 20px;
    }

    .promotion_text {
        padding: 0 20px;
    }

    .promotion {
        img {
            padding: 10px;
        }
    }

    .contact {
        h1 {
            font-size: 30px;
            padding-top: 50px;
        }

        p {
            font-size: 18px;
            margin-top: -30px;
            padding-bottom: 30px;
        }

        input {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            font-size: 20px;
            margin: 15px 20px;
        }

        textarea {
            width: 100%;
            height: 100px;
            margin: 15px 20px;
            border-radius: 5px;
            font-size: 20px;
        }
    }

}